<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <nav class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#navbar">

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
      </button>

      <a class="active navbar-brand"
         routerLink="{{ main.href }}">{{ main.name }}</a>
    </nav>

    <nav id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let link of navbarLinks;">
          <a routerLink="{{ link.href }}">{{ link.name }}</a>
        </li>

        <li au-full-name=""
            [fullName]="fullName"
            [externalLinks]="externalLinks"
            class="dropdown pull-right"></li>
      </ul>
    </nav>
  </div>
</nav>
